div.TEIContainer.other {
  display: none;
}

div.TEIContainer.commentary tei-titlestmt {
  /*display: none;*/
}

div.TEIContainer.commentary * {
  font-family: georgia times serif;
  animation-duration: 0.5s;
  animation-name: appear;
}
@keyframes appear{
  from {
    color: white;
  }
  10% {
    color: white;
  }
  20% {
    color: #EEE;
  }
  30% {
    color: #DDD;
  }
  40% {
    color: #BBB;
  }
  50% {
    color: #999;
  }
  60% {
    color: #777;
  }
  70% {
    color: #666;
  }
  80% {
    color: #444;
  }
  90% {
    color: #222;
  }
  to {
    color: black;
  }
}
div.carouselWrapper {
  top: 300px;
  left: 380px;
}

div.TEIContainer {
  position:absolute;
  top: 10px;
  left: 300px;
  height: 300px;
  overflow-y: scroll;
  width: 800px;
  font-size: 110%;
}

div.scorepane {
  display: none;
  width: 1px;
  max-width: 0px;
  height: 1px;
  margin: 0px;
  padding: 0px;
  position: fixed;
  top: 0px;
}

html {
  max-height: 1024px;
}

svg.timeline-overview {
  position: absolute;
  bottom: 15px;
}
line.annotation {
  cursor: pointer;
}
