svg.orchestralRibbon {
  display: none;
}
#http\3A \/\/meld\.linkedmusic\.org\/companion\/mei\/F2\.mei {
  left: 680px;
/*  position:absolute;*/
}
.scorepane  {
  top: 180px;
  position: absolute;
}
#F2 {
  left: 680px;
  top: 10px;
}
#F1 {
  left: 10px;
  top: 10px;
}
audio {
  top: 850px;
  position: absolute;
}
audio:nth-of-type(2) {
  left: 680px;
}