div.TEIContainer {
  display: none;
}
/*
@keyframes pulse_animation {
	0% { transform: scale(1,1); }
	15% { transform: scale(1.01,1); }
	20% { transform: scale(1.02,1); }
	25% { transform: scale(1.01,1); }
	30% { transform: scale(1.01,1); }
	35% { transform: scale(1.02,1); }
	40% { transform: scale(1.01,1); }
	50% { transform: scale(1,1); }
	65% { transform: scale(1.01,1); }
	60% { transform: scale(1.02,1); }
	65% { transform: scale(1.01,1); }
	70% { transform: scale(1.01,1); }
	75% { transform: scale(1.02,1); }
	80% { transform: scale(1.01,1); }
	100% { transform: scale(1,1); }
}
*/
@keyframes pulse_animation {
	0% { transform: rotate(0deg); }
	20% { transform: rotate(2deg); }
	30% { transform: rotate(4deg); }
	40% { transform: rotate(8deg); }
	50% { transform: rotate(2deg); }
	60% { transform: rotate(-2deg); }
	70% { transform: rotate(-8deg); }
	80% { transform: rotate(-2ddeg); }
	100% { transform: rotate(0deg); }
}

div.TEIContainer {
  left: 630px;
  top: 15px;
  width: 370px;
  font-size: 91%;
}
div.TEIContainer.commentary {
  display: block;
}
svg.orchestralRibbon {
  position: absolute;
  left: 640px;
  bottom: 15px;
}

div.scorepane {
  width: 620px;
}
