Flask==0.10.1
Flask-Assets==0.11
Flask-Script==2.0.5
Flask-Cors==3.0.2
html5lib==0.9999999
isodate==0.5.4
itsdangerous==0.24
Jinja2==2.8
keepalive==0.5
lxml==3.6.0
MarkupSafe==0.23
PyLD==0.7.0
pyparsing==2.1.1
rdflib==4.2.1
rdflib-jsonld==0.3
shortuuid==0.4.3
six==1.10.0
SPARQLWrapper==1.7.6
webassets==0.11.1
Werkzeug==0.11.5
