<html>
<head>
    <title>MuziMELD</title>
    <script src="{{ url_for('static', filename='verovio-toolkit.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-2.1.3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='muzimeld.js') }}"></script>
    <script src="{{ url_for('static', filename='contextMenu.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='meld.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='contextMenu.css') }}">
</head>
<body>
    <script> var annostate = {{ annostate | safe}} </script>
    <div id="scorepane">
        <div id="annotations"></div>
        <div id="thescore"></div>
        <div id="next" onclick="loadPage()">
            Next
        </div>
    </div>
</body>
